@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap");

:root {
  --header-color: #ffe700;
  --theme-color: #f9f826;
  --hover-color: #2f26dd;
  --card-hover: hsla(24, 14%, 71%, 0.911);
  --card-color: #e1e1e1cb;
  --main-font: "Roboto Mono", monospace;
  --font-color: rgb(245, 245, 245);
  --card-font-color: rgb(93, 91, 91);
}
a {
  text-decoration: none;
  color: var(--font-color);
}
a:hover {
  color: var(--header-color);
}
body {
  color: var(--font-color);
  background-color: black;
  font-family: var(--main-font);
}
footer {
  background-color: black;
  color: var(--font-color);
}
h1 {
  font-size: 46px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 30px;
}
header {
  padding: 100px 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/078/318/original/grafika.png?1682172969");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 900px;
}

iframe {
  border-radius: 8px;
}

p {
  text-align: justify;
  font-size: 17px;
}
.about-title {
  margin: 80px auto 50px;
  text-align: center;
}
.about-title::before {
  color: var(--header-color);
  content: attr(data-heading);
  display: block;
  font-size: 15px;
}

.background {
  background-image: url("./images/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  padding-bottom: 20px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-right: 0;
}
.contact {
  background-color: var(--card-color);
}
.contact h6,
h4 {
  text-align: left;
}
.contact h6 {
  color: var(--header-color);
  font-size: 25px;
  text-transform: uppercase;
}
.contact h4 {
  font-size: 30px;
}
.contact-info {
  color: var(--card-font-color);
  display: block;
  margin: auto;
  padding-left: 20px;
}
.contact-img img {
  max-width: 500px;
}
.copyright {
  font-size: 15px;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 25px;
}
.copyright a:hover {
  color: var(--header-color);
}
.description {
  padding: 0;
}

.grid {
  display: grid;
  grid-gap: 30px;
}
.grid-two-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-three-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.home {
  padding-top: 50px;
}
.icons {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.icons a {
  color: var(--title-color);
  margin: 20px 0;
}
.icons i {
  color: var(--theme-color);
  font-size: 30px;
  padding: 5px 15px;
}
.intro-contact {
  column-gap: 80px;
  display: flex;
}
.intro-contact h3,
p {
  padding-top: 20px;
}
.intro-item {
  align-items: center;
  display: flex;
}
.intro-icon {
  font-size: 30px;
  padding-right: 20px;
}

.logo {
  color: var(--header-color);
}

.navbar a:hover {
  color: var(--header-color);
}
.navbar img {
  max-width: 200px;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0;
}
.navbar-nav a {
  color: var(--font-color);
  text-transform: uppercase;
}

.section {
  margin: 80px 100px;
}
.service-card h3 {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.service-card i {
  font-size: 30px;
  transition: all 0.4s ease;
  padding: 10px;
}
.service-card i:hover {
  transform: scale(1.3);
}
.service-card {
  background-color: var(--card-color);
  border-radius: 8px;
  color: var(--card-font-color);
  margin-bottom: 10px;
  padding: 20px 30px;
  transition: all 0.4s ease;
}
.service-card:hover {
  transform: scale(1.1);
}
.service-card p {
  font-size: 12px;
}
.services-title {
  margin: 80px auto 50px;
  text-align: center;
}
.services-title::before {
  color: var(--header-color);
  content: attr(data-heading);
  display: block;
  font-size: 15px;
}
.shadow-effect {
  transition: all 0.5s;
}
.shadow-effect:hover {
  box-shadow: -6px 6px 0 0 var(--header-color);
}
@media (max-width: 900px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
  h1 {
    font-size: 23;
  }
  h2 {
    font-size: 15px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .contact {
    background-color: transparent;
  }
  .contact a {
    color: var(--font-color);
    text-align: center;
  }
  .contact h4 {
    color: var(--font-color);
    font-size: 18px;
    text-align: center;
  }
  .contact h6 {
    font-size: 13px;
    text-align: center;
  }
  .map {
    display: none;
  }
  .contact-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
  }
  .contact-img img {
    max-width: 250px;
  }
  .contact-info {
    padding: 15px;
  }
  .grid {
    grid-gap: 15px;
  }
  .grid-two-columns {
    grid-template-columns: 1fr;
  }
  .grid-three-columns {
    grid-template-columns: 1fr;
  }
  header {
    padding-bottom: 0;
  }
  .home {
    padding-top: 20px;
  }
  .icons {
    grid-template-rows: 1fr;
  }
  .section {
    margin: 20px 40px;
  }
  .service-card {
    font-size: 30px;
    transition: all 0.4s ease;
    text-align: center;
  }
  .services-title {
    margin: 30px auto;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .tools img {
    max-width: 300px;
  }
}
@media (max-width: 350px) {
  .tools img {
    max-width: 200px;
  }
}
